<div>
  <div class="container">
    <div class="instruction">
      <p>Click on the image to hear the sound</p>
    </div>

    <div class="image">
      <img class="question-image" src"">
      <p class="image-translation"></p>
    </div>

    <div class="letter-container"></div>

    <div class="user-answer"></div>
    <div class="submit-button">Check Answer</div>
  </div>

  <!-- Modal-->
  <div id="answer-result-modal" class="modal">
    <div class="modal-content">
      <span class="close">Close</span>
      <p class="result-text">RESULT</p>
    </div>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/buzz/1.2.0/buzz.min.js"></script>
<script src="assets/javascripts/questions.js"></script>
