<h1>About</h1>
<p class="about">Would you like to learn how to read Japanese characters the way ninjas train themselves to master any skills? They increase the load so little each day that they don't feel it. Learning just a few new caracters each day, you will be able to read Japanese before you know it!</p>
