<div class="text-center">
  <h1>Kana Ninja</h1>
  <ul class="list-unstyled">
    <li><a class="menu-btn" href="#">Prep 1</a></li>
    <li><a class="menu-btn" href="#">Prep 1</a></li>
    <li><a class="menu-btn" href="#">Prep 1</a></li>
    <li><a class="menu-btn" href="#">Prep 1</a></li>
    <li><a class="menu-btn" href="#">Prep 1</a></li>
    <li><a class="menu-btn" href="#">Prep 1</a></li>
  </ul>
</div>


<p>Menu for the app will be here</p>
