// Place all the styles related to the menu controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
  color: #4f9900;
}

.menu-btn {
  font-size: 30px;
  color: #4f9900;
}

.menu-table {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

.menu-table td {
  padding-left: 20px;
}

span {
  margin-left: 20px;
}

.about {
    font-size: 20px;
}
